.target {
    width: 30px;
    height: 30px;
    border: 1px solid #808080;
}

.goal-0 {
    /* background-color: #aaaaaa; */
    background-color: green;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.goal-1 {
    background-color: #aaaaaa;
}
